################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Xamarin/TipCalculator/.vs/TipCalculator/v15
/Xamarin/TipCalculator/TipCalculator/bin/Debug
/Xamarin/TipCalculator/TipCalculator/obj
Xamarin/TipCalculator/TipCalculator/TipCalculator.csproj.user
Xamarin/TipCalculator/TipCalculator/.vs/TipCalculator/v15/Server/sqlite3/storage.ide-wal
Xamarin/TipCalculator/TipCalculator/.vs/TipCalculator/v15/Server/sqlite3/storage.ide-shm
Xamarin/TipCalculator/TipCalculator/.vs/TipCalculator/v15/Server/sqlite3/storage.ide
Xamarin/TipCalculator/TipCalculator/.vs/TipCalculator/v15/Server/sqlite3/db.lock
Xamarin/TipCalculator/TipCalculator/.vs/TipCalculator/v15/.suo
