################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Xamarin/TipCalculator/.vs/TipCalculator/v15
/Xamarin/TipCalculator/TipCalculator/bin/Debug
/Xamarin/TipCalculator/TipCalculator/obj
Xamarin/TipCalculator/TipCalculator/TipCalculator.csproj.user
